body {
  background-color: lightgray;
}
header {
  background-color:teal;
  padding: 20px 40px;
}
nav  {
  text-align:center;
}
a {
  padding: 4%;
  font-size: 20px;
}
main {
  margin: 8%;
}
.top {
  grid-area: top;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.main-container {
  display:grid;
  grid-gap: 50px;
  grid-template-areas:
  "top top top top"
  "two three four five"
  "six six seven seven"
  "six six seven seven"
  "six six eight eight"
  "six six eight eight";
}
.top {
  background-color: rgb(174, 199, 199);
  padding: 80px;
  border: 2px solid black;
}
.fourimage {
  padding: 50px 30px;
  text-align: center;
  width: 40%;
border:6px solid blueviolet;
  background-color: rgb(13, 13, 128);
}