body{
    background-color:rgb(228, 194, 228);
    
}
header {
    font-family: 'Francois One', sans-serif;
}
main {
    display: grid;
    grid-template-rows: 30% 80%;
    padding: 40px;
   
}
.greet {
    grid-row: 1 / 2;
    border: double;
    border-color:black;
    padding: 5%;
}
.greet {
  text-align: center;
  font-family: 'Francois One', sans-serif;
  font-size: 40px;
}
.flexbox {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  justify-items: center;
}
section.flexbox {
    height:400px;
}
.datetime {
  width: 30%;
  margin: none;
}
.todo {
  width: 30%;
  margin: none;
}
button {
  background-color: darkorchid;
}
.calculator {
  width: 30%;
  margin: none;
}
p {
  font-family: 'Francois One', sans-serif;
}
h2 {
  font-family: 'Francois One', sans-serif;
}

* {
  box-sizing: border-box;
  }
  
  .calculator {
      max-width: 400px;
      height: 270px;
    padding: 5px;
     margin:0 auto;
    border: 2px solid #111;
  }
  input {
    height: 30px;
  }
  
  .calculator-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 8px;
    grid-gap: 15px;
    
  }
  .cal-button {
    background: lightgrey;
    border: 1px solid;
    font-size: 20px;
  }
  
  .is-clear {
    grid-column: span 3;
    background-color: lightblue;
  }
  .is-zero {
    grid-column: span 2;
  }
  