body{
    background-color:rgb(228, 194, 228);
    
    
}
main {
    display: grid;
    grid-template-rows: 30% 70%;
}
.greet {
    grid-row: 1 / 2;
    border: solid;
    border-color: black;
    padding: 5%;
}
.greet {
  text-align: center;
}
.flexbox {
  flex-direction:column;
  justify-content: center;
}
section.flexbox {
    height:100%;
}

#myDiv {
    border: solid;
    border-color: black;
    padding: 10%;
}

.calculator {
    grid-column: 2 /3; 
    grid-row: 3/6;
    border: solid;
    border-color: black;
    padding: 3%;
    grid-row-gap: 100px;
}
* {
    box-sizing: border-box;
  }
  
  body {
    background: f6f6f6;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .calculator {
    max-width: 300px;
    height: 330px;
     margin:0 auto;
   /* border: 2px solid #111;
    border-radius: 5px;*/
  }
  .calculator input {
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 2px solid #111;
    padding: 5px;
    text-align: right;
    font-size: 40px;
  }
  .calculator-buttons {
    padding: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
  }
  .calc-button {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #111;
    padding: 6px;
    color: #EEE;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer; 
  }
  .is-clear,
  .is-zero {
    grid-column: span 2;
  }
  .is-clear {
    background: blue;
  }
  .is-equals {
    background: #28D060;
  }

  * {
    box-sizing: border-box;
  }
  
  