body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:  ". header header ."
                            ". p1  p2 ."
                            ". p3 p3 .";
    background-color: yellow;
}

header{
    grid-area: header;
}
.p1{
    grid-area: p1;
    background-color: blue;
    
}

.p2{
    grid-area: p2;
    background-color: red;
}
.p3{
    grid-area: p3;
    background-color: green;
}