body {
    background-color:rgb(107, 207, 207)
}
header {
    border: dashed 2px whitesmoke;
    padding: 2%;
    margin: 2%;
}
h1 {
    font-size: 48px;
    font-family: 'Lobster', cursive;
    text-shadow: 4px 4px rgb(205, 230, 238);
}
.center-link {
   text-align: center;
}
a { 
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    padding: 10px 30px;
    margin: 2%;
    border: 2px solid white
}
main > p {
    font-size: 30px;
    font-family: 'Niconne', cursive;
}
main > address {
    font-size: 40px;
    font-family:  'Questrial', sans-serif;
    text-align: center;
    font-weight: bold;
}
.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

@media (max-width: 576px) {
    
    body {
        background-color:rgb(107, 207, 207)
    }
   header {
        border: none;
        padding: 2%;
        margin: 2%;
    }
    h1 {
        text-align: center;
        font-size: 48px;
        font-family: 'Lobster', cursive;
        text-shadow: 4px 4px rgb(205, 230, 238);
    }
    .center-link {
       display: grid;
       grid-template-areas: 
       "one"
       "two"
       "three"
       "four"
    }
    a { 
        font-size: 28px;
        font-family: 'Questrial', sans-serif;
        padding: 10px 30px;
        margin: 2%;
        border: none;
    }
    main > p {
        font-size: 30px;
        font-family: 'Niconne', cursive;
    }
    main > address {
        font-size: 40px;
        font-family:  'Questrial', sans-serif;
        text-align: center;
        font-weight: bold;
    }
    .imgcenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    
}