
body{
  background-color:rgb(192, 62, 116);
  padding-bottom: 2%;
  margin-bottom: 20%;
  margin-right: 6%;
  
}

.parallax { 
  /* The image used */
  background-image: url("../images/flower0612v3.jpg");
  height: 30vh; 
  width: 90vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 0%;
  Margin-bottom:0%;
  grid-row: 3/4;
  grid-column: 1/4;
}

header {
  font-family: 'Francois One', sans-serif;
}
main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 4%;
  margin: 3%;

}
.greet {
  grid-column: 1/4;
  grid-row: 1/ 2;
  text-align: center;
  height: 120%;
  background-color:rgb(218, 144, 202);
  border:15px double black;
}
p {
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h2  {
  font-family: 'Francois One', sans-serif;
}
li {
  font-family: 'Francois One', sans-serif;
}
.time {
  grid-column: 1/ 2;
  grid-row: 2/3;
  background-color:rgb(218, 144, 202);
  border: 6px solid rgb(238, 221, 240);
  

}
.todo {
  grid-column: 2/3;
  grid-row: 2/3;
  border: 6px solid rgb(238, 221, 240);
  background-color: rgb(218, 144, 202);

}
.calculator {
  grid-column: 3/ 4;
  grid-row: 2/3;

}

.calc-container {
  background-color: rgb(218, 144, 202);
  border: 6px solid rgb(238, 221, 240);
}

.calendar {
  grid-column: 1/3;
  grid-row:4/5;
  text-align: center;
  border: 6px solid rgb(238, 221, 240);
  background-color:rgb(218, 144, 202);
  padding: 5% 15%;
}

/* working here map*/
.map {
  border: 6px solid rgb(238, 221, 240);
  background-color: rgb(218, 144, 202);
  grid-column: 3/4;
  grid-row: 4/5;
  padding-top: 15%;
  text-align: center;
}
.month {
  background-color: rgb(199, 168, 207);
  font-family: 'Francois One', sans-serif;
  font-size: 2.5vw;
  width:47vw;
}
tr th {
  background-color: rgb(137, 137, 207);
  font-size: 3.5vw; 
}
td {
  font-size: 2.9vw;
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(223, 211, 221);
}


* {
  box-sizing: border-box;
  }
  
  .calculator {
   max-width: 30vw;
   height: 30vh;
    padding: .5%;
     margin:0 auto;
    border: 2px solid #111;
    background-color: rgb(23, 193, 233)
  }
  input {
    height: 10%;
  }
  
  .calculator-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      padding: 1vw;
    grid-gap: .3vw;
  }
  .cal-button {
    background: lightgrey;
    border: 1px solid;
    font-size: 1.2em;
  }
  
  .is-clear {
    grid-column: span 3;
    background-color: lightblue;
  }
  .is-zero {
    grid-column: span 2;
  }
  .cal-input { 
    width:22vw;
  }
  #newItemButton {
    display: none;
  }
  /*clicker game*/
  #box {
    height: 150px;
    width: 150px;
    background-color: yellow;
    text-align: center;
    margin:10%;
    font-size: 40px;
  }
  #box:hover {
    background-color: blue;
    height: 160px;
    width: 160px;
  }

  .game {
    grid-row: 5/6;
    grid-column: 2/3;
    justify-self: center;
  
  }

  








 @media (max-width: 576px) {

    body {
      margin-right: 4%;
    }
    .greet {
      grid-area: greet;
    }
    .time {
      grid-area: time;
    }
    .todo {
      grid-area: todo;
    }
    .calc-container {
      grid-area: calc-container;
    }
    .calendar {
      grid-area: calendar;
    }
    .map {
      grid-area: map
    }
    .game {
      grid-area: game
    }
    main{
      display: grid;
      grid-template-areas:
      "greet"
      "time"
      "todo"
      "calc-container"
      "map"
      "calendar"
      "game";
    }
    .parallax {
      display: none;
    }

    .map {
      margin-bottom: 0%;
    }
    #box {
      height: 100px;
      width: 150px;
      background-color: yellow;
      text-align: center;
      margin:10%;
      font-size: 40px;
    }
    #box:hover {
      background-color: blue;
      height: 110px;
      width: 210px;
    }

}

  @media (max-width: 768px) and (min-width: 577px) {
  

    .greet {
      grid-area: greet;
    }
    .time {
      grid-area: time;
    }
    .todo {
      grid-area: todo;
    }
    .calc-container {
      grid-area: calc-container;
    }
    .calendar {
      grid-area: calendar;
    }
    .map {
      grid-area: map
    }
    .game {
      grid-area: game
    }

    main{
      display: grid;
      grid-template-areas:
      "greet greet"
      "time todo"
      "calc-container map"
      "calendar calendar"
      "game game"
    }

  .map {
     padding-top: 10%;
    font-size:80px;
      margin-bottom: 0%;

    }
    .parallax {
      display: none;
    }

  }
