main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px, 324px;
    flex-wrap:wrap;
    justify-items: center;

}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    width: 850px;
    padding: 0px;
    background-color: rgb(212, 209, 209);

}
img {
    align-content: center;
    width: 850px;

}
.piccontainer {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Anton', sans-serif;
    letter-spacing: 33px;
    font-size: 80px;
  }

  .one {
      width:270px;
      box-sizing: border-box;
      height: 210px;
  }

h2 {
    background-color:rgb(211, 209, 209)
}
p {
    background-color:rgb(211, 209, 209);
}
fieldset {
    background-color:rgb(211, 209, 209)
}