body {
    background-image: url(../images/pastelWatercolor525.jpg);
    font-family: 'Merriweather Sans', sans-serif;
}
Header {
    font-size: 40px;
    text-align: center;
    padding: 30px;
    color: rgb(122, 122, 216);
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.main-container {
    display:grid;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four";
    text-align:center;
    grid-gap:5%;
}
a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.five {
    margin: auto;
    padding:150px;
}
form {
    background-color: rgb(75, 28, 119);
    border:10px;
    padding: 40px;
    width: 100%;
    text-align: center;
}
form {
    color: white;
}
input {
    width: 22em;
}

.messagespace {
    height: 60px;
}


@media (min-width: 992px) {

    .main-container {
        display:grid;
        grid-template-areas: 
        "one one two two"
        "three three four four"
       
    }
    Header {
        font-size: 70px;
    }
    form {
        background-color: rgb(75, 28, 119);
        padding: 40px;
        width: 30%;
        text-align: center;
    }
    





}
