body {
    background-image: url(../images/pastelWatercolor525.jpg);
    font-family: 'Merriweather Sans', sans-serif;
}
Header {
    font-size: 40px;
    text-align: center;
    padding: 30px;
    color: rgb(122, 122, 216);

}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.form {
    grid-area: form;
}


.main-container {
    display:grid;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "form";
    text-align:center;
    grid-gap:5%;
}
a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
button{
    background-color: rgb(145, 145, 175);
}

form { 
     background-color: rgb(75, 28, 119);
    padding: 40px;
    width: 60%;
    margin: auto;
    text-align: center;
}
form {
    color: white;
}
input {
    width: 85%;
}

.messagespace {
    height: 90px;
}
iframe {
    width: 70%;
    height: 80%;
}
.buttonsub {
    width: 7em;

}


@media (min-width: 992px) {

    .main-container {
        display:grid;
        grid-template-areas: 
        "one one two two"
        "three three four four"
        "five five six six"
        "form form form form";
       
    }
    Header {
        font-size: 70px;
    }

    iframe {
        width: 80%;
        height: 110%;
    }

    form {
        background-color: rgb(94, 65, 121);
        margin: auto auto;
        padding: 40px;
        width: 28%;
        text-align: center;
    }
    


}
