body {
    background-image: linear-gradient(to right, rgb(197, 79, 79),rgb(50, 170, 104),lightblue,violet); 
}


.game{
    display:flex;
    flex-wrap: wrap;
    margin: 5% 25%;
}

.square {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    font-size: 135px;
    color:rgb(71, 38, 124);
}
div:onlick{
 font-size: 70px;
}

@media (max-width: 576px ) {

.game{
        margin: 5% 10%;
}
    
.square {
        width: 100px;
        height: 100px;
        border: 2px solid black;
        font-size: 65px;
}

   
}
@media (max-width: 478px ) {
    .square {
        width: 70px;
        height: 70px;
        border: 2px solid black;
    }
.game {
    margin: 10% 20%;
}

}

